/* ./index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbaractive {
  background-color: #3523a6;
}

.navbarinactive {
  background-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.about-section {
  overflow-x: hidden;
  background-image: url('/surf.svg');
  background-size: cover;
}

body {
  /*background-color: #5B7553;*/
  background-color: #3523a6;
  padding-top: 6rem;
  color: white;
  font-family: 'acumin-pro';
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 760px) {
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: auto !important;
  }
}

.about-section {
  background-color: #111111;
}
